#list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;  
    
    width: max-content;     
    padding: 8px;
    border: 1px solid black;
    gap: 15px;
}

#element {
    display: flex;
    justify-content: center;
}

#deep {
    display: flex;
    flex-direction: column;
    width: 100%;            
    gap: 5px;
}

#deep input[type="range"] {
    width: 100%;           
}

#apply {
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 15px;
    cursor: pointer;
}


#deep {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
}

#deep input[type="range"] {
    -webkit-appearance: none;
    appearance: none;

    width: 100%;
    height: 10px;
    background: transparent;
    cursor: pointer;
}


#deep input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    background: #d0d0d0;
    border-radius: 10px;
}



#deep input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 16px;
    height: 16px;
    background: #4a90e2;
    border-radius: 50%;
    margin-top: -5px; 
    cursor: grab;
}

